<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ImageFileSpec" value="Image files(*.jpg, *.jpeg, *.jpe, *.jfif, *.png) | *.jpg; *.jpeg; *.jpe; *.jfif; *.png"/>
    <add key="PaletteFileSpec" value="CSV files (*.csv)|*.csv|All files (*.*)|*.*"/>
  </appSettings>
</configuration>